@import url(http://fonts.googleapis.com/css?family=Merriweather);

body #site-title{
	background-color:#EAEBED;
	font-family:Merriweather;
	background:transparent;
}

#wrapper{
	padding-left:1%;
	padding-right:1%;
	margin-left:auto;
	margin-right:auto;
	width:auto !important;
}

#access {
	background-color:#077ABF;
} 

#access a{
	color:white;
}

#access li:hover > a,
#access ul ul:hover > a {
	background-color:#077ABF;
}

.home-link{
	background-size: cover;
	background-position:center center;
}
#access li:hover {
	box-shadow: inset 3px 3px 10px #022D44;
}

#archives, #meta {
	display:none;
}